* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  font-size: 100%;
  line-height: 1.5em;
  background-color: wheat;
}

/* .clearfix:before,
.clearfix:after { */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  line-height: 0.9em;
  text-transform: uppercase;
  padding: 0.5em;
}

nav ul {
  list-style-type: none;
}

nav ul li,
div.button {
  display: block;
  width: 100%;
  background-color: #555555;
  text-align: center;
  font-size: 1.2em;
}

div.button {
  height: 4em;
  background-color: red;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: red;
  height: 3em;
}

nav ul li a:hover:not(.active) {
  border: 2px solid black;
  border-radius: 0.5em;
}

.active {
  color: green;
  border: 0.2em solid green;
  border-radius: 0.5em;
}

header {
  background-image: url(/images/beans.jpg);
  padding: 3em;
  text-align: center;
  color: white;
  border-bottom: 0.5em solid chocolate;
}

header h1 {
  font-size: 8em;
  padding-top: 0.5em;
  padding-bottom: 0.75em;
}

header p {
  margin-top: 1em;
  font-size: 2em;
  font-family: fantasy;
  line-height: 1.2em;
  margin-bottom: 1em;
}

a.btn {
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  background-color: red;
  color: black;
  margin: 1em;
  padding: 2em;
  border-radius: 2em;
  text-decoration: none;
}

a.btn:hover {
  background-color: black;
  color: white;
}

blockquote {
  padding: 1em;
  background-color: darkkhaki;
  font-size: 2em;
  line-height: 1.2em;
  text-align: center;
}

.titles {
  padding: 1em;
  line-height: 3em;
  text-align: center;
  text-transform: capitalize;
  background-color: chocolate;
}

.articles {
  margin: 2em;
}

.articles section {
  text-align: center;
}

.articles section p {
  text-align: justify;
  line-height: 2em;
}

.articles section img {
  width: 100%;
  border-radius: 5px;
}

.red {
  color: red;
  line-height: 1.2em;
}

.black {
  color: black;
}

footer#second {
  padding: 2em;
  text-align: center;
  color: red;
  background-color: chocolate;
  text-transform: uppercase;
  line-height: 3em;
  text-shadow: 0.2em 0.2em black;
  border-radius: 0.5em;
}

@media screen and (min-width: 600px) {
  nav {
    background-color: #555555;
  }

  nav ul li {
    display: inline-block;
    width: 8em;
  }

  .articles section {
    float: left;
    width: 31.4285714285714%;
    margin-right: 2.8571428571429%;
  }
}

.articles section:last-child {
  margin-right: 0;
}

.articles section img {
  height: 23em;
}

.articles section p {
  height: 22em;
  overflow: auto;
}

@media screen and (min-width: 200px) {
  .small section {
    float: left;
    width: 31.4285714285714%;
    margin-right: 2.8571428571429%;
  }
  .small section:last-child {
    margin-right: 0;
  }
  .small section h2 {
    font-size: 1em;
  }
}
